<div class="flex flex-col md:min-w-160 max-h-screen divide-y-8 divide-bleue-claire-1 w-full">

    <div class=" flex  h-10 text-white  w-full -mb-0.5 justify-between  bg-rouge-1 p-1">

        <span class="mr-4 mt-1.5 font-bold">{{pointage == undefined ? ('Ajouter Pointage' | titlecase) : ('Modifier
            Pointage'
            | titlecase)}}</span>
    </div>
    <!-- Compose form -->
    <form class="flex flex-col flex-auto sm:p-8 overflow-y-auto bg-bleue-claire-6 w-full" [formGroup]="form">

        <!-- To -->
        <div class="grid grid-cols-1 gap-4 w-full">

            <div class="flex flex-col gt-xs:flex-row m-2">
                <ng-container>
                    <div class="flex">
                        <mat-form-field class="w-1/3 pr-2">
                            <mat-label>Professeur</mat-label>
                            <input type="text" matInput formControlName="professeur" [matAutocomplete]="autoUser"
                                (keyup)="getAllProfesseur($event.target.value)" [readonly]="pointage != undefined">
                            <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayFn2">
                                <mat-option *ngFor="let option of users " [value]="option">
                                    {{option.firstName}} {{option.lastName}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="form.get('professeur').hasError('required')">
                                {{ 'le.professeur.doit.etre.choisi' }}</mat-error>
                        </mat-form-field>

                        <ng-container *ngIf="pointage == undefined">
                            <mat-form-field class="w-1/3 pl-2">
                                <mat-label>Heure d’arrivée</mat-label>
                                <input matInput type="datetime-local" formControlName="heureArrivee" [min]="dateToday"
                                    [max]="dateToday" />
                            </mat-form-field>
                        </ng-container>



                        <!-- Heure de départ -->
                        <ng-container *ngIf="pointage != undefined">
                            <mat-form-field class="w-1/3 px-2">
                                <mat-label>Heure de départ</mat-label>
                                <input matInput type="datetime-local" formControlName="heureDepart" [min]="dateToday"
                                    [max]="dateToday" />
                            </mat-form-field>
                        </ng-container>



                    </div>

                    <mat-error *ngIf="form.errors?.heureDepartInvalide">
                        L'heure de départ doit être postérieure à l'heure d'arrivée.
                    </mat-error>



                </ng-container>
            </div>
        </div>

        <div class="flex items-center mt-4 sm:mt-0 justify-between">

            <!-- Buttons -->
            <button class="order-first sm:order-last" mat-flat-button [color]="'warn'" (click)="annuler()"
                *ngIf="!pointage">
                Annuler
            </button>
            <ng-container *hasAuthority="'SUPPRESSION_POINTAGE_PROFESSEUR'">
                <button *ngIf="pointage" class="order-first sm:order-last" mat-flat-button [color]="'warn'"
                    [swal]="supprimerSwal">
                    Supprimer
                </button>
            </ng-container>

            <button *ngIf="!pointage" class="order-first sm:order-last" mat-flat-button [color]="'primary'"
                [disabled]="!form.valid" [swal]="enregistrerSwal">
                Ajouter
            </button>
            <ng-container *hasAuthority="'MODIFICATION_POINTAGE_PROFESSEUR'">
                <button *ngIf="pointage" class="order-first sm:order-last" mat-flat-button [color]="'primary'"
                    [swal]="modifierSwal" [disabled]="pointage.heureDepart != null ? form.valid : !form.valid">
                    Modifier
                </button>
            </ng-container>

        </div>
    </form>
</div>

<!-- Sweetalert modals -->
<swal #enregistrerSwal (confirm)="enregistrer()" [swalOptions]="Enregistrer"></swal>
<swal #annulerSwal (confirm)="annuler()" [swalOptions]="Annuler"></swal>
<swal #modifierSwal (confirm)="modifier()" [swalOptions]="Modifier"></swal>
<swal #supprimerSwal (confirm)="supprimer()" [swalOptions]="Supprimer"></swal>