<div class="grid grid-cols-1 justify-center w-full">
  <div class="m-4">
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ search @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


    <div class="grid grid-col-1  divide-y-8 divide-bleue-claire-1">
      <div class=" flex  h-10 text-white  w-full -mb-0.5 justify-between  bg-rouge-1 p-1">

        <span class="mr-4 mt-1.5 font-bold">{{'Total notations' | titlecase}}: {{resultsLength}}</span>
      </div>
      <table mat-table [dataSource]="data" multiTemplateDataRows matSort matSortDisableClear class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">

          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear
            class="bg-bleue-claire-6 text-secondary text-md font-semibold"> {{column | titlecase }} </th>

          <ng-container *ngIf="column == 'matricule'; else elseMat">
            <td mat-cell *matCellDef="let element">

              <button mat-button color="primary" class="font-bold"
                (click)="setDataSource(element); (expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">{{element['etudiant']['matricule']}}</button>

            </td>
          </ng-container>

          <ng-template #elseMat>
            <ng-container
              *ngIf="column == 'matiere' || column == 'nom' || column == 'dateDebut' || column == 'dateFin'; else elseMat2">
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="column == 'nom'">
                  {{element['etudiant']['firstName'] }} {{element['etudiant']['lastName'] }}
                </ng-container>
                <ng-container *ngIf="column == 'matiere'">
                  {{element?.calendrierCours?.matiereUser?.matiere?.nom | uppercase}}
                </ng-container>

                <ng-container *ngIf="column == 'dateDebut'">
                  {{element?.calendrierCours?.dateDebut | date: 'dd/mm/yyyy à HH:mm'}}
                </ng-container>


                <ng-container *ngIf="column == 'dateFin'">
                  {{element?.calendrierCours?.dateFin | date: 'dd/mm/yyyy à HH:mm'}}
                </ng-container>



              </td>
            </ng-container>
            <ng-template #elseMat2>
              <td mat-cell *matCellDef="let element">
                {{element[column]}}

              </td>
            </ng-template>

          </ng-template>


        </ng-container>




        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions"
            class="bg-bleue-foncee text-secondary text-md font-semibold">Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row"
              (click)="setDataSource(element); (expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">

              <mat-icon *ngIf="expandedElement !== element" svgIcon="heroicons_solid:eye"
                class="text-rouge-1"></mat-icon>
              <mat-icon *ngIf="expandedElement === element" svgIcon="heroicons_solid:eye-off"
                class="text-rouge-1"></mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

              <div class="flex justify-center w-full bg-slate-300">
                <app-detail-notation class="w-full" [notationId]="element.id"
                  *ngIf="expandedElement === element"></app-detail-notation>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; "></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"
          [class.hidden]="notationId !== row.id"></tr>


      </table>

      <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons class="flex justify-end" [style.visibility]="fiche? 'hidden': 'visible'">
      </mat-paginator>

    </div>
  </div>

  <!-- No Data-->
  <ng-template #noData>
    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
      <!-- <mat-icon
              class="icon-size-24"
              [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
          <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">{{ 'module.notfound' | transloco }}</div> -->
      <app-loading></app-loading>
    </div>
  </ng-template>

</div>